@import "tailwindcss";

:root{
  --background:#ffffff;
  --foreground:#111111;
  --primary:#C89B63;
}

html{
  scroll-behavior:auto;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-jakarta),sans-serif;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

img{
  user-select:none;
}

.container{
  max-width:1320px;
  margin:auto;
  width:92%;
}

section{
  position:relative;
}

/* Hide default cursor on desktop */

@media (min-width: 1024px) {
  html,
  body {
    cursor: none;
  }

  a,
  button,
  input,
  textarea {
    cursor: none;
  }
}